WebServices/Web References/GeneralLandBuildingReference/GeneralLandBuildingCard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/generallandbuildingcard" targetNamespace="urn:microsoft-dynamics-schemas/page/generallandbuildingcard" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/generallandbuildingcard" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Field_Available">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Sport_x2019_s_Court_Available">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Field_Gallery_Available">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Conference_Room_Available">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Video_Conference_Room_Avail">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Library_Available">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Central_Library_Available">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Digital_Library_Available">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Canteen_Caf_for_Staffs_Avail">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Dispensary_Available">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="CoE_Program_Available">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="CSR_Activities_Available">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Staff_Common_Room_Available">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Girls_Common_Room_Available">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Boys_Common_Room_Available">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Roof_Top_Solar_Panel_Available">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Rain_Water_Harvesting_Avail">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Sewage_Treatment_Plant_Avail">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Internet_Connection_Available">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="GeneralLandBuildingCard">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Year_of_Establis_of_institute" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Field_Available" type="tns:Field_Available" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Field_Area_in_Acres" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sport_x2019_s_Court_Available" type="tns:Sport_x2019_s_Court_Available" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sports_Court_Area_in_Sqft" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Field_Gallery_Available" type="tns:Field_Gallery_Available" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Conference_Room_Available" type="tns:Conference_Room_Available" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Video_Conference_Room_Avail" type="tns:Video_Conference_Room_Avail" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Floor_size_of_the_Video_conf" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Video_Conference_Room_Location" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Video_Conference_Room_Capacity" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Library_Available" type="tns:Library_Available" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Central_Library_Available" type="tns:Central_Library_Available" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Digital_Library_Available" type="tns:Digital_Library_Available" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Canteen_Caf_for_Staffs_Avail" type="tns:Canteen_Caf_for_Staffs_Avail" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Canteen_Cafeteria_Capacity" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Dispensary_Available" type="tns:Dispensary_Available" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CoE_Program_Available" type="tns:CoE_Program_Available" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CoE_Program_Details" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CSR_Activities_Available" type="tns:CSR_Activities_Available" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CSR_Activity_Details" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Staff_Common_Room_Available" type="tns:Staff_Common_Room_Available" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Staff_Common_Room_Details" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Girls_Common_Room_Available" type="tns:Girls_Common_Room_Available" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Girls_Common_Room_Details" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Boys_Common_Room_Available" type="tns:Boys_Common_Room_Available" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Boys_Common_Room_Details" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Roof_Top_Solar_Panel_Available" type="tns:Roof_Top_Solar_Panel_Available" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Rain_Water_Harvesting_Avail" type="tns:Rain_Water_Harvesting_Avail" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sewage_Treatment_Plant_Avail" type="tns:Sewage_Treatment_Plant_Avail" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Internet_Connection_Available" type="tns:Internet_Connection_Available" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Uploaded_FileName" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GeneralLandBuildingCard_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="GeneralLandBuildingCard" type="tns:GeneralLandBuildingCard" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="GeneralLandBuildingCard_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Year_of_Establis_of_institute" />
          <xsd:enumeration value="Field_Available" />
          <xsd:enumeration value="Field_Area_in_Acres" />
          <xsd:enumeration value="Sport_x2019_s_Court_Available" />
          <xsd:enumeration value="Sports_Court_Area_in_Sqft" />
          <xsd:enumeration value="Field_Gallery_Available" />
          <xsd:enumeration value="Conference_Room_Available" />
          <xsd:enumeration value="Video_Conference_Room_Avail" />
          <xsd:enumeration value="Floor_size_of_the_Video_conf" />
          <xsd:enumeration value="Video_Conference_Room_Location" />
          <xsd:enumeration value="Video_Conference_Room_Capacity" />
          <xsd:enumeration value="Library_Available" />
          <xsd:enumeration value="Central_Library_Available" />
          <xsd:enumeration value="Digital_Library_Available" />
          <xsd:enumeration value="Canteen_Caf_for_Staffs_Avail" />
          <xsd:enumeration value="Canteen_Cafeteria_Capacity" />
          <xsd:enumeration value="Dispensary_Available" />
          <xsd:enumeration value="CoE_Program_Available" />
          <xsd:enumeration value="CoE_Program_Details" />
          <xsd:enumeration value="CSR_Activities_Available" />
          <xsd:enumeration value="CSR_Activity_Details" />
          <xsd:enumeration value="Staff_Common_Room_Available" />
          <xsd:enumeration value="Staff_Common_Room_Details" />
          <xsd:enumeration value="Girls_Common_Room_Available" />
          <xsd:enumeration value="Girls_Common_Room_Details" />
          <xsd:enumeration value="Boys_Common_Room_Available" />
          <xsd:enumeration value="Boys_Common_Room_Details" />
          <xsd:enumeration value="Roof_Top_Solar_Panel_Available" />
          <xsd:enumeration value="Rain_Water_Harvesting_Avail" />
          <xsd:enumeration value="Sewage_Treatment_Plant_Avail" />
          <xsd:enumeration value="Internet_Connection_Available" />
          <xsd:enumeration value="Uploaded_FileName" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="GeneralLandBuildingCard_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:GeneralLandBuildingCard_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="GeneralLandBuildingCard" type="tns:GeneralLandBuildingCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:GeneralLandBuildingCard_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:GeneralLandBuildingCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GeneralLandBuildingCard" type="tns:GeneralLandBuildingCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GeneralLandBuildingCard" type="tns:GeneralLandBuildingCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GeneralLandBuildingCard_List" type="tns:GeneralLandBuildingCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GeneralLandBuildingCard_List" type="tns:GeneralLandBuildingCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GeneralLandBuildingCard" type="tns:GeneralLandBuildingCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GeneralLandBuildingCard" type="tns:GeneralLandBuildingCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GeneralLandBuildingCard_List" type="tns:GeneralLandBuildingCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GeneralLandBuildingCard_List" type="tns:GeneralLandBuildingCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <portType name="GeneralLandBuildingCard_Port">
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
  </portType>
  <binding name="GeneralLandBuildingCard_Binding" type="tns:GeneralLandBuildingCard_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/generallandbuildingcard:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/generallandbuildingcard:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/generallandbuildingcard:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/generallandbuildingcard:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/generallandbuildingcard:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/generallandbuildingcard:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/generallandbuildingcard:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/generallandbuildingcard:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="GeneralLandBuildingCard_Service">
    <port name="GeneralLandBuildingCard_Port" binding="tns:GeneralLandBuildingCard_Binding">
      <address location="http://genesisnav16.atlas.betpilani.org:8047/BC200/WS/CRONUS%20India%20Ltd./Page/GeneralLandBuildingCard" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>